h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h1 {
  
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;

}
body {
    background-image: url('Nylex_Background.jpg'); 
    background-size: cover;                 
    background-position: center;           
    background-repeat: no-repeat;          
    background-attachment: fixed;           
}
